In [1]:
# Import dependencies

import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Extract the Data, separating on the semicolon
pitching_df = pd.read_csv('Resources/Raw-Data/2023 MLB Player Stats - Pitching.csv', encoding='iso-8859-1', sep=';')
pitching_df.head()

,Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,Fernando Abad*,37,COL,NL,1,0,1.000,4.26,6,...,0,32,124,8.18,2.211,15.6,2.8,4.3,2.8,0.67
1,2,Andrew Abbott*,24,CIN,NL,5,2,0.714,2.10,9,...,0,213,226,4.08,0.916,5.3,1.3,2.9,9.2,3.17
2,3,Cory Abbott,27,WSN,NL,0,1,0.000,5.49,10,...,1,85,77,5.83,1.475,9.2,1.8,4.1,7.3,1.78
3,4,Albert Abreu,27,NYY,AL,2,2,0.500,4.14,33,...,2,182,103,4.69,1.331,7.4,1.3,4.6,10.0,2.19
4,5,Bryan Abreu,26,HOU,AL,3,2,0.600,2.72,47,...,1,192,155,3.42,1.144,6.6,1.2,3.7,13.4,3.63

In [3]:
# Generate a summary of our Hitting dataframe
pitching_df.info

<bound method DataFrame.info of       Rk               Name  Age   Tm  Lg  W  L   W-L%   ERA   G  ...  WP  \
0      1     Fernando Abad*   37  COL  NL  1  0  1.000  4.26   6  ...   0
1      2     Andrew Abbott*   24  CIN  NL  5  2  0.714  2.10   9  ...   0
2      3        Cory Abbott   27  WSN  NL  0  1  0.000  5.49  10  ...   1
3      4       Albert Abreu   27  NYY  AL  2  2  0.500  4.14  33  ...   2
4      5        Bryan Abreu   26  HOU  AL  3  2  0.600  2.72  47  ...   1
..   ...                ...  ...  ...  .. .. ..    ...   ...  ..  ...  ..
808  809        Alex Young*   29  CIN  NL  4  0  1.000  2.31  45  ...   0
809  810       Danny Young*   29  ATL  NL  0  0  0.000  1.08   8  ...   0
810  811     Rob Zastryzny*   31  PIT  NL  1  0  1.000  5.29  18  ...   2
811  812  Bruce Zimmermann*   28  BAL  AL  1  0  1.000  5.56   6  ...   0
812  813   Guillermo Zuñiga   24  STL  NL  0  0  0.000  0.00   1  ...   0

      BF  ERA+   FIP   WHIP    H9  HR9  BB9   SO9  SO/W
0     32   124  8.18  2.211  15.6  2.8  4.3   2.8  0.67
1    213   226  4.08  0.916   5.3  1.3  2.9   9.2  3.17
2     85    77  5.83  1.475   9.2  1.8  4.1   7.3  1.78
3    182   103  4.69  1.331   7.4  1.3  4.6  10.0  2.19
4    192   155  3.42  1.144   6.6  1.2  3.7  13.4  3.63
..   ...   ...   ...    ...   ...  ...  ...   ...   ...
808  166   206  4.16  1.282   8.3  1.2  3.2   8.8  2.71
809   35   434  2.45  1.080   7.6  0.0  2.2  11.9  5.50
810   83    86  4.82  1.941  10.6  0.5  6.9   6.9  1.00
811   53    78  5.14  1.324  11.9  2.4  0.0   9.5  0.00
812    3     0 -0.71  0.000   0.0  0.0  0.0  18.0  0.00

[813 rows x 35 columns]>

In [4]:
# Grab the data types of each column 
pitching_df.dtypes

Rk        int64
Name     object
Age       int64
Tm       object
Lg       object
W         int64
L         int64
W-L%    float64
ERA     float64
G         int64
GS        int64
GF        int64
CG        int64
SHO       int64
SV        int64
IP      float64
H         int64
R         int64
ER        int64
HR        int64
BB        int64
IBB       int64
SO        int64
HBP       int64
BK        int64
WP        int64
BF        int64
ERA+      int64
FIP     float64
WHIP    float64
H9      float64
HR9     float64
BB9     float64
SO9     float64
SO/W    float64
dtype: object

In [5]:
# Grab a list of the columns 
pitching_df.columns

Index(['Rk', 'Name', 'Age', 'Tm', 'Lg', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS',
       'GF', 'CG', 'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO',
       'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9', 'BB9',
       'SO9', 'SO/W'],
      dtype='object')

In [6]:
# Drop the "Rk" ("Rank") Colummn 
pitching_df.drop(columns=['Rk'], inplace=True)
pitching_df.tail()

,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
808,Alex Young*,29,CIN,NL,4,0,1.0,2.31,45,0,...,0,166,206,4.16,1.282,8.3,1.2,3.2,8.8,2.71
809,Danny Young*,29,ATL,NL,0,0,0.0,1.08,8,0,...,0,35,434,2.45,1.080,7.6,0.0,2.2,11.9,5.50
810,Rob Zastryzny*,31,PIT,NL,1,0,1.0,5.29,18,0,...,2,83,86,4.82,1.941,10.6,0.5,6.9,6.9,1.00
811,Bruce Zimmermann*,28,BAL,AL,1,0,1.0,5.56,6,0,...,0,53,78,5.14,1.324,11.9,2.4,0.0,9.5,0.00
812,Guillermo Zuñiga,24,STL,NL,0,0,0.0,0.00,1,0,...,0,3,0,-0.71,0.000,0.0,0.0,0.0,18.0,0.00

In [7]:
# Spell out the "Lg" and "Tm" columns and then preview updated data frame

pitching_df = pitching_df.rename(columns={'Tm': 'Team'})
pitching_df = pitching_df.rename(columns={'Lg': 'League'})
pitching_df.head()

,Name,Age,Team,League,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,Fernando Abad*,37,COL,NL,1,0,1.000,4.26,6,0,...,0,32,124,8.18,2.211,15.6,2.8,4.3,2.8,0.67
1,Andrew Abbott*,24,CIN,NL,5,2,0.714,2.10,9,9,...,0,213,226,4.08,0.916,5.3,1.3,2.9,9.2,3.17
2,Cory Abbott,27,WSN,NL,0,1,0.000,5.49,10,0,...,1,85,77,5.83,1.475,9.2,1.8,4.1,7.3,1.78
3,Albert Abreu,27,NYY,AL,2,2,0.500,4.14,33,0,...,2,182,103,4.69,1.331,7.4,1.3,4.6,10.0,2.19
4,Bryan Abreu,26,HOU,AL,3,2,0.600,2.72,47,0,...,1,192,155,3.42,1.144,6.6,1.2,3.7,13.4,3.63

In [8]:
# Clean up the names - Remove odd characters & then preview the first 20 names

pitching_df['Name'] = pitching_df['Name'].str.replace('¬†', ' ')
pitching_df['Name'] = pitching_df['Name'].str.replace('√©', ' ')
pitching_df['Name'] = pitching_df['Name'].str.replace('√∫', ' ')
pitching_df['Name'] = pitching_df['Name'].str.replace('#', ' ')
pitching_df['Name'] = pitching_df['Name'].str.replace('*', ' ')

names = pitching_df['Name']
names

0         Fernando Abad
1         Andrew Abbott
2            Cory Abbott
3           Albert Abreu
4            Bryan Abreu
             ...
808          Alex Young
809         Danny Young
810       Rob Zastryzny
811    Bruce Zimmermann
812     Guillermo Zuñiga
Name: Name, Length: 813, dtype: object

In [9]:
# Extract all the Teams - ensure all 30 teams (and no more) are included
teams = pitching_df['Team'].unique()

# Display all unique values
teams

array(['COL', 'CIN', 'WSN', 'NYY', 'HOU', 'OAK', 'TBR', 'ARI', 'SEA',
       'BAL', 'CHW', 'MIN', 'MIA', 'SFG', 'DET', 'ATL', 'CLE', 'LAD',
       'PHI', 'CHC', 'TOT', 'TEX', 'LAA', 'MIL', 'SDP', 'KCR', 'TOR',
       'PIT', 'BOS', 'NYM', 'STL'], dtype=object)

'TOT' is short for "Total" and is used for players who played on multiple teams in 2023.

In [10]:
# Extract all the Leagues
leagues = pitching_df['League'].unique()

# Display all unique values
leagues

array(['NL', 'AL', 'MLB'], dtype=object)

'MLB' is paired with 'TOT' from above - For players who played on multiple teams, the data will include stats for their team. with each team along with a combined. row to total up. their 2023 stats.

In [11]:
# Search for null values
nulls = pitching_df.isnull()

# Display the DataFrame indicating null values
nulls

,Name,Age,Team,League,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
809,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
810,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
811,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
812,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# Drop all rows containing null values
cleaned_pitching_df = pitching_df.dropna()

# Display the cleaned DataFrame
cleaned_pitching_df

,Name,Age,Team,League,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,Fernando Abad,37,COL,NL,1,0,1.000,4.26,6,0,...,0,32,124,8.18,2.211,15.6,2.8,4.3,2.8,0.67
1,Andrew Abbott,24,CIN,NL,5,2,0.714,2.10,9,9,...,0,213,226,4.08,0.916,5.3,1.3,2.9,9.2,3.17
2,Cory Abbott,27,WSN,NL,0,1,0.000,5.49,10,0,...,1,85,77,5.83,1.475,9.2,1.8,4.1,7.3,1.78
3,Albert Abreu,27,NYY,AL,2,2,0.500,4.14,33,0,...,2,182,103,4.69,1.331,7.4,1.3,4.6,10.0,2.19
4,Bryan Abreu,26,HOU,AL,3,2,0.600,2.72,47,0,...,1,192,155,3.42,1.144,6.6,1.2,3.7,13.4,3.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,Alex Young,29,CIN,NL,4,0,1.000,2.31,45,0,...,0,166,206,4.16,1.282,8.3,1.2,3.2,8.8,2.71
809,Danny Young,29,ATL,NL,0,0,0.000,1.08,8,0,...,0,35,434,2.45,1.080,7.6,0.0,2.2,11.9,5.50
810,Rob Zastryzny,31,PIT,NL,1,0,1.000,5.29,18,0,...,2,83,86,4.82,1.941,10.6,0.5,6.9,6.9,1.00
811,Bruce Zimmermann,28,BAL,AL,1,0,1.000,5.56,6,0,...,0,53,78,5.14,1.324,11.9,2.4,0.0,9.5,0.00
812,Guillermo Zuñiga,24,STL,NL,0,0,0.000,0.00,1,0,...,0,3,0,-0.71,0.000,0.0,0.0,0.0,18.0,0.00

In [13]:
# Double check the new dataframe for nulls

null_counts = cleaned_pitching_df.isnull().sum()
null_counts

Name      0
Age       0
Team      0
League    0
W         0
L         0
W-L%      0
ERA       0
G         0
GS        0
GF        0
CG        0
SHO       0
SV        0
IP        0
H         0
R         0
ER        0
HR        0
BB        0
IBB       0
SO        0
HBP       0
BK        0
WP        0
BF        0
ERA+      0
FIP       0
WHIP      0
H9        0
HR9       0
BB9       0
SO9       0
SO/W      0
dtype: int64

In [14]:
# FINAL CLEANED DATA FRAME 

cleaned_pitching_df

,Name,Age,Team,League,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,Fernando Abad,37,COL,NL,1,0,1.000,4.26,6,0,...,0,32,124,8.18,2.211,15.6,2.8,4.3,2.8,0.67
1,Andrew Abbott,24,CIN,NL,5,2,0.714,2.10,9,9,...,0,213,226,4.08,0.916,5.3,1.3,2.9,9.2,3.17
2,Cory Abbott,27,WSN,NL,0,1,0.000,5.49,10,0,...,1,85,77,5.83,1.475,9.2,1.8,4.1,7.3,1.78
3,Albert Abreu,27,NYY,AL,2,2,0.500,4.14,33,0,...,2,182,103,4.69,1.331,7.4,1.3,4.6,10.0,2.19
4,Bryan Abreu,26,HOU,AL,3,2,0.600,2.72,47,0,...,1,192,155,3.42,1.144,6.6,1.2,3.7,13.4,3.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,Alex Young,29,CIN,NL,4,0,1.000,2.31,45,0,...,0,166,206,4.16,1.282,8.3,1.2,3.2,8.8,2.71
809,Danny Young,29,ATL,NL,0,0,0.000,1.08,8,0,...,0,35,434,2.45,1.080,7.6,0.0,2.2,11.9,5.50
810,Rob Zastryzny,31,PIT,NL,1,0,1.000,5.29,18,0,...,2,83,86,4.82,1.941,10.6,0.5,6.9,6.9,1.00
811,Bruce Zimmermann,28,BAL,AL,1,0,1.000,5.56,6,0,...,0,53,78,5.14,1.324,11.9,2.4,0.0,9.5,0.00
812,Guillermo Zuñiga,24,STL,NL,0,0,0.000,0.00,1,0,...,0,3,0,-0.71,0.000,0.0,0.0,0.0,18.0,0.00

In [15]:
# Export the new CSV for our Cleaned-Data folder

# Define the file path for the CSV file in the "cleaned-data" folder
output_file_path = 'Resources/Cleaned-Data/cleaned_pitching_data.csv'

# Export the DataFrame to a CSV file
cleaned_pitching_df.to_csv('pitching_data.csv', encoding='utf-8-sig', index=False)